<h1>Activity</h1>




<h2>{{activity.name}}</h2>
<p>{{activity.description}}</p>


<table>
  <tr>
    <th>Date</th>
    <th>Time Spent</th>
  </tr>
  <tr>
    <td></td>
    <td>$100</td>
  </tr>
  <tr>
    <td>February</td>
    <td>$80</td>
  </tr>
</table>


<div class="form-container">
    <h1>Add a Activity</h1>
    <form action="">
        <input type="text" name="timeSpent" placeholder="Enter the time spent on this activity"><br>
        <button type="submit">Submit</button>
    </form>
</div>


<div class="form-container">
    <h1>Edit a Activity</h1>
    <form action="">
        <input type="text" name="timeSpent" placeholder="Edit the time spent on this activity"><br>
        <input type="text" name="timeSpent" placeholder="Edit the time spent on this activity"><br>
        <button type="submit">Submit</button>
    </form>
</div>

<div class="form-container">
    <h1>Delete this Activity</h1>
    <form action="">
        <button type="submit">Delete</button>
    </form>
</div>