
<h1>Sign In</h1>

<form action="/" method="post">
    <lable for="username">Name</lable><br>
    <input type="text" name="username" placeholder="please enter your name"><br><br>
    <lable for="password">Password</lable><br>
    <input type="password" name="password" placeholder="please enter your password"><br><br>

    {{!-- Submit Button  --}}
    <button type="submit">Submit</button>
</form>