<h1>Sign Up</h1>

<form action="/signup" method="post">
    <lable for="username">Name</lable><br>
    <input type="text" name="username" placeholder="please enter your name"><br><br>
    <lable for="password">Password</lable><br>
    <input type="password" name="password" placeholder="please enter your password"><br><br>
    <lable for="confirm">Confirm Password</lable><br>
    <input type="password" name="confirm" placeholder="please enter your confirm password"><br><br>

    {{!-- Submit Button  --}}
    <button type="submit">Submit</button>
</form>